<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Forms</h1>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Forms</a></li>
        <li role="presentation"><a href="fields.view.html">Fields</a></li>
    </ul>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                    Form Name
                </th>
                <th>
                    <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" placeholder="name"></td>
                <td>
                    <a href="#">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                    <a href="#">
                        <scan class="glyphicon glyphicon-ok"></scan>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Registration Form</td>
                <td>
                    <a href="#">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a href="#">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Contact List</td>
                <td>
                    <a href="#">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a href="#">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                </td>
            </tr>
            <tr>
                <td>To Do List</td>
                <td>
                    <a href="#">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a href="#">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
