<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#/fields">Fields</a></li>
            </ul>
            <div>
                <form>
                    <label for="fname">First Name:</label>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" id="fname" placeholder="First Name">
                        </div>
                        <div class="col-sm-6">
                            <a href="#">
                                <scan class="glyphicon glyphicon-pencil"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-plus"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-remove"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-align-justify"></scan>
                            </a>
                        </div>
                    </div>

                    <label for="lname">Last Name:</label>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" id="lname" placeholder="Last Name">
                        </div>
                        <div class="col-sm-6">
                            <a href="#">
                                <scan class="glyphicon glyphicon-pencil"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-plus"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-remove"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-align-justify"></scan>
                            </a>
                        </div>
                    </div>

                    <label for="date">Date of Birth:</label>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="date" class="form-control" id="date">
                        </div>
                        <div class="col-sm-6">
                            <a href="#">
                                <scan class="glyphicon glyphicon-pencil"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-plus"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-remove"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-align-justify"></scan>
                            </a>
                        </div>
                    </div>

                    <label for="gender">Gender:</label>
                    <div class="row">
                        <div  class="col-sm-6">
                            <select class="form-control" id="gender">
                                <option>Female</option>
                                <option>Male</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <a href="#">
                                <scan class="glyphicon glyphicon-pencil"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-plus"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-remove"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-align-justify"></scan>
                            </a>
                        </div>
                    </div>

                    <label>Roles:</label>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Admin
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Student
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    User
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <a href="#">
                                <scan class="glyphicon glyphicon-pencil"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-plus"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-remove"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-align-justify"></scan>
                            </a>
                        </div>
                    </div>

                    <label>Licence Agreement:</label>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios"  value="yes" checked>
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios"  value="no">
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <a href="#">
                                <scan class="glyphicon glyphicon-pencil"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-plus"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-remove"></scan>
                            </a>
                            <a href="#">
                                <scan class="glyphicon glyphicon-align-justify"></scan>
                            </a>
                        </div>
                    </div>
                    <hr>

                    <lable>Add New Field:</lable>
                    <div class="row">
                        <div  class="col-sm-6">
                            <select class="form-control" ng-model="model.fieldType">
                                <option>Single Line Text</option>
                                <option>Multi Line Text Field</option>
                                <option>Date Field</option>
                                <option>Dropdown Field</option>
                                <option>Checkboxes Field</option>
                                <option>Radio Buttons Field</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn" ng-click="addField(model.fieldType)">
                                <scan class="glyphicon glyphicon-plus"></scan>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>

