<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Admin </h1>
    <h2>Users</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                    Username
                </th>
                <th>
                    <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                    Password
                </th>
                <th>
                    <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                    Role
                </th>
                <th>
                    <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" placeholder="username"></td>
                <td><input type="password" placeholder="password"></td>
                <td><input type="text" placeholder="role1, role2"></td>
                <td>
                    <a href="#">
                        <scan class="glyphicon glyphicon-plus"></scan>
                    </a>
                    <a href="#">
                        <scan class="glyphicon glyphicon-ok"></scan>
                    </a>
                </td>
            </tr>
            <tr>
                <td>alice</td>
                <td></td>
                <td>student</td>
                <td>
                    <a href="#">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a href="#">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                </td>
            </tr>
            <tr>
                <td>bob</td>
                <td></td>
                <td>faculty | admin</td>
                <td>
                    <a href="#">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a href="#">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                </td>
            </tr>
            <tr>
                <td>charlie</td>
                <td></td>
                <td></td>
                <td>
                    <a href="#">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                    <a href="#">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
