<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">welcome !</h1>

    <p ng-if="currentUser">
        Welcome {{currentUser.username}}
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid deserunt dolorum, eius hic, labore
        molestiae nemo odio praesentium tenetur ullam unde! Ab adipisci dicta distinctio dolorum eius laborum molestiae?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dicta dolore doloremque facere fuga id in
        labore maxime nihil praesentium, qui quisquam totam. Accusantium animi at consectetur iure quaerat
        reiciendis?</p>
</div>
